$color-gold: hsl(40, 54%, 54%);
$color-colder-gold: #a09055;
$color-champagne: rgb(240, 204, 147);
$color-brown: #995500;
$color-woody-brown: #642;
$color-lavender: #b08ffc;
$color-violet: #7d45fc;
$color-bright: #eee;
$color-dark-transparent: rgba(34, 34, 34, 0.5);

.bubbles {
  position: relative;
  top: 100vh; /*Initial Positions*/
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateZ(0);

  li {
    position: absolute;
    list-style: none;
    display: block;
    border: 3px;
    border-style: solid;
    border-radius: 50%;
    animation: float 20s infinite;
    transition-timing-function: linear;
  }

  li:nth-child(1) {
    background-color: inherit;
    opacity: 0.3;
    width: 12px;
    height: 12px;
    left: 20vw;
    top: 20vh;
    animation-delay: 1s;
    animation-duration: 5s;
  }

  li:nth-child(2) {
    background-color: inherit;
    opacity: 0.4;
    width: 7px;
    height: 7px;
    left: 35vw;
    top: 10vh;
    animation-delay: 0s;
    animation-duration: 3s;
  }

  li:nth-child(3) {
    background-color: inherit;
    opacity: 0.2;
    width: 13px;
    height: 13px;
    left: 50vw;
    top: 15vh;
    animation-delay: 0s;
    animation-duration: 7s;
  }

  li:nth-child(4) {
    background-color: inherit;
    opacity: 0.3;
    width: 7px;
    height: 7px;
    left: 60vw;
    top: 10vh;
    animation-delay: 0s;
    animation-duration: 4s;
  }

  li:nth-child(5) {
    background-color: inherit;
    opacity: 0.2;
    width: 15px;
    height: 15px;
    left: 70vw;
    top: 30vh;
    animation-delay: 4s;
    animation-duration: 7s;
  }

  li:nth-child(6) {
    background-color: inherit;
    opacity: 0.3;
    width: 12px;
    height: 12px;
    left: 75vw;
    top: 10vh;
    animation-delay: 5s;
    animation-duration: 15s;
  }

  li:nth-child(7) {
    background-color: inherit;
    opacity: 0.3;
    width: 10px;
    height: 10px;
    left: 80vw;
    top: 20vh;
    animation-delay: 1s;
    animation-duration: 5s;
  }

  @keyframes float {
    0% {
      -webkit-transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-1000px);
    }
  }
}
