$color-gold: hsl(40, 54%, 54%);
$color-champagne: rgb(240, 204, 147);
$color-brown: #995500;
$color-lavender: #b08ffc;
$color-violet: #7d45fc;
$color-bright: #eee;
$color-dark-transparent: rgba(34, 34, 34, 0.5);

/* == debug == */
// * {
//   outline: dotted 2px green;
// }

// == By Tag ==
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

body {
  background-color: $color-bright;
}

button:hover {
  opacity: 0.8;
}

h1 {
  color: $color-brown;
  text-shadow: 2px 2px $color-gold;
  font-size: 3.2em;
  font-family: "Tangerine", sans-serif;
}

h2 {
  color: $color-dark-transparent;
  font-size: 1.5vw;
  word-spacing: 0.1em;
}

h3 {
  color: black;
  font-family: "Tangerine", sans-serif;
}

h4,
h5,
h6 {
  color: black;
  font-family: "Arial", cursive;
}

header {
  a:hover,
  a:link,
  a:visited {
    text-decoration: none;
    color: inherit;
  }
}

// == By Class ==
.btn-go {
  background-color: $color-lavender;
  color: black;
  font-family: Arial Black;
  margin: 15px 0 0 0;
}

.crop {
  overflow: hidden;
}

.card-title {
  font-family: Arial;
  font-weight: bold;
  font-size: 110%;
  color: #000;
}

.row-card {
  display: none;
}

.fit {
  width: 50vw;
  max-width: 99%;
  max-height: 99%;
}

.font-arial {
  font-family: "Gotu", Helvetica, sans-serif;
}

.banner {
  padding: 10px 0;
  min-height: 10px;
}

.photo-credit {
  color: #888;
  font-size: 7px;
  font-style: italic;
  a:link {
    text-decoration: none;
    color: inherit;
  }
  text-align: center;
}

.row-content {
  padding: 50px 0;
  min-height: 80px;
}

.text-black {
  color: black;
}

.text-orange {
  color: $color-lavender;
}

.text-secondary {
  color: $color-violet;
}

.text-sm {
  font-size: 20px;
}

.text-cursive {
  font-family: "Lobster", sans-serif;
}

// == By ID ==
#login {
  justify-content: right;
}

#jumbotron {
  width: 100%;
  margin: 0;
  padding: 20px;
  background-image: linear-gradient(
    to right,
    $color-gold,
    $color-champagne,
    $color-bright,
    $color-champagne,
    $color-champagne,
    $color-bright,
    $color-bright
  );
  color: black;
  font-size: 1vw;
  font-family: "Bitter", sans-serif;
}

#navbar {
  background-image: linear-gradient(
    to right,
    $color-gold,
    $color-champagne,
    $color-bright,
    $color-champagne,
    $color-champagne,
    $color-bright,
    $color-bright
  );
}

#padThaiCards {
  display: none;
}

// == Viewport Size SM ==
@media only screen and (max-width: 768px) {
  // == By Tag ==
  h2 {
    font-size: 25px;
  }
  img {
    resize: 50%;
  }

  // == By Class ==
  .fit {
    width: 50vw;
    max-width: 99%;
    max-height: 99%;
  }
  .jumbotron {
    max-width: 100%;
    font-size: 25px;
  }
  .text-sm {
    font-size: 20px;
  }
}

// == Viewport Size XS ==
@media only screen and (max-width: 575px) {
  // == By Tag ==
  h2 {
    font-size: 25px;
  }

  // == By Class ==
  .fit {
    width: 90vw;
    max-width: 99%;
    max-height: 99%;
  }
  .jumbotron {
    max-width: 100%;
    font-size: 25px;
  }
  .text-sm {
    font-size: 12px;
  }
}
