/* Full-width input fields */
input[type="radio"] {
  width: 5%;
  display: inline-block;
}

label {
  margin-right: 5px;
  display: inline-block;
}

#city-choices {
  background-color: white;
  min-width: 300px;
  min-height: 200px;
  padding: 30px 20px 20px 20px;
  margin-top: 20px;
  border-radius: 15px;
}
#city-choices label {
  font-size: 1.2vw;
}

#choose-a-city {
  padding-left: 20px;
}
