$color-gold: hsl(40, 54%, 54%);
$color-colder-gold: #a09055;
$color-champagne: rgb(240, 204, 147);
$color-brown: #995500;
$color-woody-brown: #642;
$color-lavender: #b08ffc;
$color-violet: #7d45fc;
$color-bright: #eee;
$color-dark-transparent: rgba(34, 34, 34, 0.5);

/* Full-width input fields */
input[type="radio"] {
  width: 3%;
  display: inline-block;
}

label {
  display: inline-block;
}

body {
  background-image: linear-gradient(
    90deg,
    $color-brown,
    #fff,
    #fff,
    $color-champagne,
    $color-champagne,
    $color-gold,
    $color-gold,
    $color-gold,
    $color-woody-brown
  );
  z-index: 1;
  height: 100vh;
  padding: 10px;
}

#main-content {
  min-height: 70vh;

  

  #server_response {
    min-width: inherit;
    margin-left: 200px;
  }

  #Top {
    position: fixed;
    display: flexbox;
    left: 90vw;
    bottom: 5vw;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    color: #000;
    font-size: 30px;
    padding-left: 10px;
    vertical-align: top;
  }
}
