/* Full-width input fields */
input[type="radio"] {
  width: 3%;
  display: inline-block;
}

label {
  display: inline-block;
}

body {
  background-image: linear-gradient(
    90deg,
    #995500,
    #fff,
    #fff,
    #f0cc93,
    #f0cc93,
    #c99f4a,
    #c99f4a,
    #c99f4a,
    #642
  );
  z-index: 1;
  height: 100vh;
  padding: 10px;
}

#main-content {
  min-height: 70vh;
}
#main-content #city-choices {
  background-color: white;
  min-width: 300px;
  min-height: 200px;
  padding: 30px 20px 20px 20px;
  border-radius: 15px;
}
#main-content #city-choices label {
  font-size: 1.2vw;
}
#main-content #city-choices #title {
  padding-left: 20px;
}
#main-content #server_response {
  min-width: inherit;
  margin-left: 200px;
}
#main-content .bubbles {
  position: relative;
  top: 700px;
  /*Initial Positions*/
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: translateZ(0);
}
#main-content .bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  border: 3px;
  border-style: solid;
  border-radius: 50%;
  animation: float 20s infinite;
  transition-timing-function: linear;
}
#main-content .bubbles li:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(5, 5, 0, 0.4);
  width: 12px;
  height: 12px;
  left: 20%;
  top: 20%;
  animation-delay: 1s;
  animation-duration: 5s;
}
#main-content .bubbles li:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(10, 5, 0, 0.4);
  width: 7px;
  height: 7px;
  left: 35%;
  top: 10%;
  animation-duration: 3s;
}
#main-content .bubbles li:nth-child(3) {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(10, 5, 0, 0.25);
  width: 13px;
  height: 13px;
  left: 50%;
  top: 15%;
  animation-delay: 1s;
  animation-duration: 7s;
}
#main-content .bubbles li:nth-child(4) {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(25, 15, 0, 0.2);
  width: 15px;
  height: 15px;
  left: 70%;
  top: 30%;
  animation-delay: 4s;
  animation-duration: 7s;
}
#main-content .bubbles li:nth-child(5) {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(0, 0, 0, 0.2);
  width: 12px;
  height: 12px;
  left: 75%;
  animation-delay: 3s;
  animation-duration: 20s;
}
#main-content .bubbles li:nth-child(6) {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(25, 15, 0, 0.2);
  width: 10px;
  height: 10px;
  left: 80%;
  top: 20%;
  animation-delay: 1s;
  animation-duration: 5s;
}
#main-content .bubbles li:nth-child(7) {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(25, 15, 0, 0.3);
  width: 5px;
  height: 5px;
  left: 60%;
  top: 10%;
  animation-delay: 0s;
  animation-duration: 4s;
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px);
  }
}
