/* Full-width input fields */
input[type="radio"] {
  width: 3%;
  display: inline-block;
}

label {
  display: inline-block;
}

body {
  background-image: linear-gradient(
    90deg,
    #995500,
    #fff,
    #fff,
    #f0cc93,
    #f0cc93,
    #c99f4a,
    #c99f4a,
    #c99f4a,
    #642
  );
  z-index: 1;
  height: 100vh;
  padding: 10px;
}

#main-content {
  min-height: 70vh;
}
#main-content #server_response {
  min-width: inherit;
  margin-left: 200px;
}
#main-content #Top {
  position: fixed;
  display: flexbox;
  left: 90vw;
  bottom: 5vw;
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-radius: 50%;
  color: #000;
  font-size: 30px;
  padding-left: 10px;
  vertical-align: top;
}
