$color-gold: hsl(40, 54%, 54%);
$color-champagne: rgb(240, 204, 147);
$color-brown: #995500;
$color-lavender: #b08ffc;
$color-violet: #7d45fc;
$color-bright: #eee;
$color-dark-transparent: rgba(34, 34, 34, 0.5);

/* Full-width input fields */
input[type="radio"] {
  width: 5%;
  display: inline-block;
}

label {
  margin-right: 5px;
  display: inline-block;
}

form {
  min-height: 100px;
}
